VITE_FIREBASE_API_KEY=AIzaSyDUVttTgoO7NU3n85chMcbh7in3SKR5T04
VITE_FIREBASE_AUTH_DOMAIN=civictrack-3c6fd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=civictrack-3c6fd
VITE_FIREBASE_STORAGE_BUCKET=civictrack-3c6fd.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=380155335304
VITE_FIREBASE_APP_ID=1:380155335304:web:2b9f8b0557e1a6673e053d
VITE_SUPABASE_URL=https://iqhlbsgcuehjlyuolugw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxaGxic2djdWVoamx5dW9sdWd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzMjkxMjgsImV4cCI6MjA4OTkwNTEyOH0.JNIz2Rr7-tXWD_I3FDbH4X5TsyuPE0WTGaU1pEWFj2E
VITE_SUPABASE_BUCKET=issue-images
